body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


.gjs-one-bg {
  color: rgb(48, 48, 48) !important;
  background-color: #fafafa;
}

.gjs-pn-options {
  right: 15%;
  top: 0;
 
}
.gjs-pn-options {
  right: 15%;
  top: 0;
  border: 0px solid #eef1ff;
  border-radius: 5px;
  background-color: #ffffff;
}
.gjs-pn-views {
  border-bottom: 2px solid rgba(0,0,0,.2);
  right: 0;
  width: 15%;
  z-index: 4;
  border: 0px solid #eef1ff;
  border-radius: 5px;
  background-color: #eef1ff;
}
.gjs-pn-commands {
  border: 0px solid transparent;
  width: 85%;
  height: 6%;
  left: 0;
  top: 0;
  /* box-shadow: 0 0 5px rgba(0,0,0,.2); */
}
.gjs-pn-panel>.gjs-pn-buttons>.fa{
background-color: rgb(218, 230, 255) !important;
margin: .5rem .3rem;
}

.gjs-pn-panel {
  
    height: 3rem;
    padding: 4px;
    position: fixed;
 
}

.gjs-pn-views-container {
  height: 100%;
  padding: 5rem 0 0;
  right: 0;
  width: 15%;
  top: 0%;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0,0,0,.2);}
  .gjs-four-color {
    color: #000000;
}
  .gjs-layer-vis {

    color: black;
}
.gjs-layer-move {
  color: black;
}
.gjs-layer-count {
  position: absolute;
  right: 27px;
  top: 9px;
  color: #686868;
}
.gjs-editor> .gjs-cv-canvas{
  margin-top: 1rem;
}
.gjs-block-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gjs-block-category {
  width: 90%;
  margin: 0 0.5rem;
  background-color: rgb(218, 230, 255) !important;
  border-radius: 8px;
  border: 0px solid transparent;
  outline: 0px solid transparent;
}
.tagit {
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  margin: 0 20%;
  width: fit-content;
}
.tagit>a{
  color: black;
  padding: 2px 10px !important;
  border-radius: 5px;
  font-size: 16px;
  padding: 0px ;
}
.tagit>p>a{
  text-align: center;
  text-decoration: none;
  color: black;
 
  
}
.gjs-three-bg {
  background-color: #a4abff;
}

@media only screen and (max-width: 768px) {
  .gjs-pn-views-container {
    width: 0% !important;
  }

  .gjs-editor> .gjs-cv-canvas{
    width: 100% !important;
  }
  .gjs-pn-views {
 
    display: none;
}
.gjs-pn-buttons {
  display: flex;
  flex-direction: column;
}
.gjs-pn-commands {
  border: 0px solid transparent;   width: 100%;
}
.gjs-pn-options {
  right: 5%;
}
}